@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.bg-primary {
    background-color: #edeef7;
}
.card {
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
}
section {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 270px;
    background: linear-gradient(0deg, #00000054, #00000054), url(https://images.pexels.com/photos/5452245/pexels-photo-5452245.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-repeat: no-repeat;
}

section form {
    position: absolute;
    z-index: 1;

}

.form-control {
    border: 0;
    border-bottom: 2px solid #f1f1f1;
    color: #9492ee !important;
}

.form-control::placeholder {
    color: #9492ee;
}

.form-control:focus {
    box-shadow: 0 0 0 0;
    border-bottom: 2px solid #9492ee;
}

.btn {
    background-color: #9492ee;
    border: none;
    font-size: 1.25em;
}

.btn:focus {
    box-shadow: 0 0 0 0.25rem #9492ee80;
}

.f-pass {
    color: #ccc;
}

.f-pass:hover {
    color: #9492ee;
}